.nav
{
    background-color: #FEEE00;
    .navbar-brand
    {
        color: #000;
    }
    .navbar
    {
        background-color: #FEEE00;
        .navbar-nav
    {
        .nav-item
        {
            .nav-link
            {
                color: #000;
            }
        }
    }
    }
    
    
}


.border-active
{
    background-color: aliceblue;
}
